<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://kit.fontawesome.com/de152fe019.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../static/script.js"></script>
  <link href="../static/style.css" rel="stylesheet">
  <title>Artikel - LambungHealth+</title>
</head>
<body>
  {% include 'navbar.html' %}
    <div class="content-main">
      <section class="hero is-success is-halfheight">
        <div class="hero-body">
          <div class="">
            <p class="title">Artikel</p>
            <p class="subtitle">Half height subtitle</p>
          </div>
        </div>
      </section>
    </div>
    {% include 'footerUser.html' %}
  </body>
</html>