<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer style="background-color: #40513B;" class="footer">
        <div class="container">
            <div class="pb-3 pt-5 is-flex is-flex-wrap-wrap is-justify-content-between is-align-items-center">
                <div class="mr-auto mb-1">
                    <a class="is-inline-block" href="/">
                        <img class="image" src="../static/logo-white.png" alt="" width="166px"></a>
                </div>
            </div>
        </div>
        <div class="pt-1" style="border-top: 1px solid #dee2e6;"></div>
        <div class="container">
            <div class="pt-4 is-flex-tablet is-justify-content-between is-align-items-center">
                <p style="color: #fff;">All rights reserved © LambungHealth<sup>+</sup> 2024.</p>
                <div class="py-2 is-hidden-tablet"></div>
                <div class="ml-auto">
                    <a style="color: #fff;" class="mr-4 is-inline-block" href="#">
                      <i class="fa-brands fa-square-facebook"></i>
                    <a style="color: #fff;" class="mr-4 is-inline-block" href="#">
                      <i class="fa-brands fa-square-x-twitter"></i>
                    <a style="color: #fff;" class="mr-4 is-inline-block" href="#">
                      <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
      </footer>
</body>
</html>
