<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <div class="jumbotron">
          <h1 class="title is-3 has-text-centered is-light">
            LambungHealth<sup>+</sup> at Klinik Alyssa Medika
          </h1>
          <br />
          <h2 class="section-subheading has-text-centered">
            Bersama kita bisa memahami dan menjaga kesehatan lambung Anda!
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
