<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
      src="https://kit.fontawesome.com/de152fe019.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="../static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="../static/style.css" rel="stylesheet" />
    <title>LambungHealth - Sistem Pakar</title>
  </head>

  <body>
    <nav
      class="navbar"
      id="navbar"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="../static/logo.png" alt="" class="title is-4 is-logo" />
        </a>

        <!-- Toggle button for mobile -->
        <a
          role="button"
          class="navbar-burger is-light"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
          onclick="toggleNavbar()"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start navbar-center">
          <a class="navbar-item home" href="/">Home</a>
          <a class="navbar-item" href="/artikel">Artikel</a>
          <a class="navbar-item" href="/about">About Us</a>
          {% if logged_in %} {% if is_admin %}
          <a class="navbar-item" href="/berandaAdmin">Dashboard</a>
          {% else %}
          <a class="navbar-item" href="/halamanDiagnosa">Diagnosa</a>
          {% endif %} {% endif %}
        </div>

        {% if not logged_in %}
        <div class="navbar-end navbar-auth">
          <div class="pt-2">
            <div class="buttons">
              <a class="button is-masuk" href="/login">Masuk</a>
              <a class="button is-daftar" href="/register">Daftar</a>
            </div>
          </div>
        </div>
        {% endif %} {% if logged_in %}
        <div class="navbar-end navbar-auth">
          <div class="pt-2 pr-4">
            <div class="buttons">
              <a class="button is-ghost">{{ user_info.name }}</a>
              <a class="button is-warning" onclick="sign_out()"
                ><i class="fa-solid fa-arrow-right-from-bracket"></i
              ></a>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </nav>

    <div class="bg-nav">
      <section class="section">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-half">
              <div class="jumbotron">
                <h2
                  style="
                    color: #fff;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
                  "
                  class="pt-6 mt-4 title is-2 has-text-centered is-light"
                >
                  <span class="has-text-weight-light">Hai, </span>Selamat datang
                  di LambungHealth<sup>+</sup>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column">
            <div class="jumbotron">
              <h1 class="title is-3 has-text-centered is-light">
                LambungHealth<sup>+</sup> at Klinik Alyssa Medika
              </h1>
              <br />
              <h2 class="section-subheading has-text-centered">
                Bersama, kita bisa memahami dan menjaga kesehatan lambung Anda!
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="content-main">
      <section
        style="margin-bottom: 2rem"
        class="hero is-success is-halfheight"
      >
        <div class="hero-body">
          <div class="">
            <p class="title">Home</p>
            <a href="/berandaAdmin">Dashboard</a>
            <p class="subtitle">Half height subtitle</p>
          </div>
        </div>
      </section>
    </div>
    {% include 'footerUser.html' %}
  </body>
</html>
